{{ define "main" }}
<article class="flow wrapper">
    <header>
        <h1 id="hi">Hi, I'm Dan</h1>
    </header>
    <p>👋 I'm a Python, Django and Wagtail developer. This is my humble corner on the web.</p>

    <h2 id="recent-posts">Recent posts</h2>
    <ul class="posts">
        {{ $posts := (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}

        {{ range first 10 $posts }}
        <li class="post__item">
            <a class="post__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify | safeHTML }}</a>
            <p class="post__meta">Published: <time datetime="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 +0000" .Date }}">{{ .Date | time.Format ":date_long" }}</time> · {{ .ReadingTime }} {{ if (eq .ReadingTime 1) }}minute{{ else }}minutes{{ end }} read</p>
        </li>
        {{ end }}
    </ul>
    {{ if gt (len $posts) 10 }}
    <a href="/posts" class="button">Archive</a>
    {{ end }}
</article>
{{ end }}
