{{ define "main" }}
<article class="wrapper flow prose">
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{.Content}}

    {{ if eq .Title "Posts" }}
      {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "posts").GroupByDate "2006" }}
        <div class="flex-between">
          <h2>{{ .Key }}</h2>
          <small>{{ len .Pages }} {{ cond (eq (len .Pages) 1) "post" "posts" }}</small>
        </div>
        <ul class="posts">
          {{ range .Pages.ByDate.Reverse }}
            <li class="post__item">
              <a href="{{ .Permalink }}" title="{{ .Title }}">
                <span class="post__title">{{ .Title | markdownify | safeHTML }}</span>
                <time datetime="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 UTC" .PublishDate }}" title="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 UTC" .PublishDate }}">{{ .Date | time.Format "1 Jan 2006" }}</time>
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

      <details>
        <summary>Browse by tag</summary>

        <ul class="tags">
        {{ range site.Taxonomies.tags.ByCount }}
            <li>
                <a href="/tags/{{ .Term | urlize }}" title="{{ .Term }}">
                    <span class="post__title">{{ .Term | markdownify | safeHTML }}</span>
                    <sup>{{ .Count }}</small>
                </a>
            </li>
        {{ end }}
        </ul>
      </details>
    {{ else if eq .Title "Tags" }}
        <ul class="tags">
        {{ range site.Taxonomies.tags.ByCount }}
            <li>
                <a href="/tags/{{ .Term | urlize }}" title="{{ .Term }}">
                    <span class="post__title">{{ .Term | markdownify | safeHTML }}</span>
                    <sup>{{ .Count }}</small>
                </a>
            </li>
        {{ end }}
        </ul>
    {{ else }}
        <ul class="posts">
        {{ range .Pages.ByDate.Reverse }}
            <li class="post__item">
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                    <span class="post__title">{{.Title | markdownify | safeHTML }}</span>
                    <time datetime="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 +0000" .PublishDate }}" title="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 UTC" .PublishDate }}">{{ .Date | time.Format "1 Jan 2006" }}</time>
                </a>
            </li>
        {{ end }}
        </ul>
    {{ end }}
</article>
{{ end }}
